In [141]:
import pandas as pd
import numpy as np
from sklearn.preprocessing import LabelEncoder
from sklearn.preprocessing import OneHotEncoder

In [142]:
data = pd.read_csv("melb_data.csv")
data

,Unique ID,Suburb,Address,Rooms,Type,Price,Method,SellerG,Date,Distance,...,Bathroom,Car,Landsize,BuildingArea,YearBuilt,CouncilArea,Lattitude,Longtitude,Regionname,Propertycount
0,ID_1,Abbotsford,85 Turner St,2,h,1480000,S,Biggin,03-12-2016,2.5,...,1,1.0,202,NaN,NaN,Yarra,-37.79960,144.99840,Northern Metropolitan,4019
1,ID_2,Abbotsford,25 Bloomburg St,2,h,1035000,S,Biggin,04-02-2016,2.5,...,1,0.0,156,79.0,1900.0,Yarra,-37.80790,144.99340,Northern Metropolitan,4019
2,ID_3,Abbotsford,5 Charles St,3,h,1465000,SP,Biggin,04-03-2017,2.5,...,2,0.0,134,150.0,1900.0,Yarra,-37.80930,144.99440,Northern Metropolitan,4019
3,ID_4,Abbotsford,40 Federation La,3,h,850000,PI,Biggin,04-03-2017,2.5,...,2,1.0,94,NaN,NaN,Yarra,-37.79690,144.99690,Northern Metropolitan,4019
4,ID_5,Abbotsford,55a Park St,4,h,1600000,VB,Nelson,04-06-2016,2.5,...,1,2.0,120,142.0,2014.0,Yarra,-37.80720,144.99410,Northern Metropolitan,4019
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
13575,ID_13576,Wheelers Hill,12 Strada Cr,4,h,1245000,S,Barry,26-08-2017,16.7,...,2,2.0,652,NaN,1981.0,NaN,-37.90562,145.16761,South-Eastern Metropolitan,7392
13576,ID_13577,Williamstown,77 Merrett Dr,3,h,1031000,SP,Williams,26-08-2017,6.8,...,2,2.0,333,133.0,1995.0,NaN,-37.85927,144.87904,Western Metropolitan,6380
13577,ID_13578,Williamstown,83 Power St,3,h,1170000,S,Raine,26-08-2017,6.8,...,2,4.0,436,NaN,1997.0,NaN,-37.85274,144.88738,Western Metropolitan,6380
13578,ID_13579,Williamstown,96 Verdon St,4,h,2500000,PI,Sweeney,26-08-2017,6.8,...,1,5.0,866,157.0,1920.0,NaN,-37.85908,144.89299,Western Metropolitan,6380
13579,ID_13580,Yarraville,6 Agnes St,4,h,1285000,SP,Village,26-08-2017,6.3,...,1,1.0,362,112.0,1920.0,NaN,-37.81188,144.88449,Western Metropolitan,6543

### 1) Understanding Data:

In [143]:
data.shape

(13580, 22)

In [144]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 13580 entries, 0 to 13579
Data columns (total 22 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Unique ID      13580 non-null  object
 1   Suburb         13580 non-null  object
 2   Address        13580 non-null  object
 3   Rooms          13580 non-null  int64
 4   Type           13580 non-null  object
 5   Price          13580 non-null  int64
 6   Method         13580 non-null  object
 7   SellerG        13580 non-null  object
 8   Date           13580 non-null  object
 9   Distance       13580 non-null  float64
 10  Postcode       13580 non-null  int64
 11  Bedroom2       13580 non-null  int64
 12  Bathroom       13580 non-null  int64
 13  Car            13518 non-null  float64
 14  Landsize       13580 non-null  int64
 15  BuildingArea   7130 non-null   float64
 16  YearBuilt      8205 non-null   float64
 17  CouncilArea    12211 non-null  object
 18  Lattitude      13580 non-null  float64
 19  Longtitude     13580 non-null  float64
 20  Regionname     13580 non-null  object
 21  Propertycount  13580 non-null  int64
dtypes: float64(6), int64(7), object(9)
memory usage: 2.3+ MB

In [145]:
data.describe()

,Rooms,Price,Distance,Postcode,Bedroom2,Bathroom,Car,Landsize,BuildingArea,YearBuilt,Lattitude,Longtitude,Propertycount
count,13580.000000,1.358000e+04,13580.000000,13580.000000,13580.000000,13580.000000,13518.000000,13580.000000,7130.000000,8205.000000,13580.000000,13580.000000,13580.000000
mean,2.937997,1.075684e+06,10.137776,3105.301915,2.914728,1.534242,1.610075,558.416127,151.967650,1964.684217,-37.809203,144.995216,7454.417378
std,0.955748,6.393107e+05,5.868725,90.676964,0.965921,0.691712,0.962634,3990.669241,541.014538,37.273762,0.079260,0.103916,4378.581772
min,1.000000,8.500000e+04,0.000000,3000.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1196.000000,-38.182550,144.431810,249.000000
25%,2.000000,6.500000e+05,6.100000,3044.000000,2.000000,1.000000,1.000000,177.000000,93.000000,1940.000000,-37.856822,144.929600,4380.000000
50%,3.000000,9.030000e+05,9.200000,3084.000000,3.000000,1.000000,2.000000,440.000000,126.000000,1970.000000,-37.802355,145.000100,6555.000000
75%,3.000000,1.330000e+06,13.000000,3148.000000,3.000000,2.000000,2.000000,651.000000,174.000000,1999.000000,-37.756400,145.058305,10331.000000
max,10.000000,9.000000e+06,48.100000,3977.000000,20.000000,8.000000,10.000000,433014.000000,44515.000000,2018.000000,-37.408530,145.526350,21650.000000

In [146]:
data.dtypes

Unique ID         object
Suburb            object
Address           object
Rooms              int64
Type              object
Price              int64
Method            object
SellerG           object
Date              object
Distance         float64
Postcode           int64
Bedroom2           int64
Bathroom           int64
Car              float64
Landsize           int64
BuildingArea     float64
YearBuilt        float64
CouncilArea       object
Lattitude        float64
Longtitude       float64
Regionname        object
Propertycount      int64
dtype: object

In [147]:
data.sample(3, axis = 0)

,Unique ID,Suburb,Address,Rooms,Type,Price,Method,SellerG,Date,Distance,...,Bathroom,Car,Landsize,BuildingArea,YearBuilt,CouncilArea,Lattitude,Longtitude,Regionname,Propertycount
662,ID_663,Balwyn North,3/1 Corhampton Rd,2,h,685000,SP,Jellis,22-05-2016,9.2,...,1,1.0,177,85.0,1975.0,Boroondara,-37.79350,145.06790,Southern Metropolitan,7809
4856,ID_4857,Prahran,35 Chomley St,2,h,1180000,S,Jellis,23-04-2016,4.5,...,1,0.0,214,215.0,1900.0,Stonnington,-37.85770,145.00530,Southern Metropolitan,7717
10209,ID_10210,Coburg North,2/4 Manly Ct,2,t,525000,VB,Raine,27-05-2017,6.7,...,2,1.0,143,102.0,NaN,Moreland,-37.72037,144.97023,Northern Metropolitan,3445

### 2) Extracting numbers from string:

In [148]:
extract = pd.Series(data['Unique ID'].copy(), name = "New Index")

# Alternate way
# extract = data['Unique ID'].copy()
# extract = pd.Series(extract, name = "New Index")

for row in range(len(extract)):
    temp = extract.loc[row]
    temp = list(temp)
    temp.remove('I')
    temp.remove('D')
    temp.remove('_')
    temp = "".join(temp)
    extract.loc[row] = temp

In [149]:
extract = extract.astype('int64')

In [150]:
# ---- data['Unique ID'].str.extract('(\d+)') ---- another method using regular expressions.

### 3) Indexing:

In [151]:
data.set_index(extract, inplace = True)
data

,Unique ID,Suburb,Address,Rooms,Type,Price,Method,SellerG,Date,Distance,...,Bathroom,Car,Landsize,BuildingArea,YearBuilt,CouncilArea,Lattitude,Longtitude,Regionname,Propertycount
New Index,,,,,,,,,,,,,,,,,,,,,
1,ID_1,Abbotsford,85 Turner St,2,h,1480000,S,Biggin,03-12-2016,2.5,...,1,1.0,202,NaN,NaN,Yarra,-37.79960,144.99840,Northern Metropolitan,4019
2,ID_2,Abbotsford,25 Bloomburg St,2,h,1035000,S,Biggin,04-02-2016,2.5,...,1,0.0,156,79.0,1900.0,Yarra,-37.80790,144.99340,Northern Metropolitan,4019
3,ID_3,Abbotsford,5 Charles St,3,h,1465000,SP,Biggin,04-03-2017,2.5,...,2,0.0,134,150.0,1900.0,Yarra,-37.80930,144.99440,Northern Metropolitan,4019
4,ID_4,Abbotsford,40 Federation La,3,h,850000,PI,Biggin,04-03-2017,2.5,...,2,1.0,94,NaN,NaN,Yarra,-37.79690,144.99690,Northern Metropolitan,4019
5,ID_5,Abbotsford,55a Park St,4,h,1600000,VB,Nelson,04-06-2016,2.5,...,1,2.0,120,142.0,2014.0,Yarra,-37.80720,144.99410,Northern Metropolitan,4019
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
13576,ID_13576,Wheelers Hill,12 Strada Cr,4,h,1245000,S,Barry,26-08-2017,16.7,...,2,2.0,652,NaN,1981.0,NaN,-37.90562,145.16761,South-Eastern Metropolitan,7392
13577,ID_13577,Williamstown,77 Merrett Dr,3,h,1031000,SP,Williams,26-08-2017,6.8,...,2,2.0,333,133.0,1995.0,NaN,-37.85927,144.87904,Western Metropolitan,6380
13578,ID_13578,Williamstown,83 Power St,3,h,1170000,S,Raine,26-08-2017,6.8,...,2,4.0,436,NaN,1997.0,NaN,-37.85274,144.88738,Western Metropolitan,6380
13579,ID_13579,Williamstown,96 Verdon St,4,h,2500000,PI,Sweeney,26-08-2017,6.8,...,1,5.0,866,157.0,1920.0,NaN,-37.85908,144.89299,Western Metropolitan,6380
13580,ID_13580,Yarraville,6 Agnes St,4,h,1285000,SP,Village,26-08-2017,6.3,...,1,1.0,362,112.0,1920.0,NaN,-37.81188,144.88449,Western Metropolitan,6543

### 4) Label Encoding:

In [152]:
print(data['Regionname'].unique().shape)
print(data['Suburb'].unique().shape)

# Since "Regionname" column has less unique values, i am using One-Hot Encoding method for it, and since "Suburb" has many
# unique values i am using Label Encoding method for it.

(8,)
(314,)

In [153]:
# Encoding for 'Suburb' column:
labelencoder = LabelEncoder()
data['Suburb_N'] = labelencoder.fit_transform(data['Suburb'])

# ---- data.drop(['Suburb'], inplace = True, axis = 1) ---- if you wanna get rid of categorical data.
data

,Unique ID,Suburb,Address,Rooms,Type,Price,Method,SellerG,Date,Distance,...,Car,Landsize,BuildingArea,YearBuilt,CouncilArea,Lattitude,Longtitude,Regionname,Propertycount,Suburb_N
New Index,,,,,,,,,,,,,,,,,,,,,
1,ID_1,Abbotsford,85 Turner St,2,h,1480000,S,Biggin,03-12-2016,2.5,...,1.0,202,NaN,NaN,Yarra,-37.79960,144.99840,Northern Metropolitan,4019,0
2,ID_2,Abbotsford,25 Bloomburg St,2,h,1035000,S,Biggin,04-02-2016,2.5,...,0.0,156,79.0,1900.0,Yarra,-37.80790,144.99340,Northern Metropolitan,4019,0
3,ID_3,Abbotsford,5 Charles St,3,h,1465000,SP,Biggin,04-03-2017,2.5,...,0.0,134,150.0,1900.0,Yarra,-37.80930,144.99440,Northern Metropolitan,4019,0
4,ID_4,Abbotsford,40 Federation La,3,h,850000,PI,Biggin,04-03-2017,2.5,...,1.0,94,NaN,NaN,Yarra,-37.79690,144.99690,Northern Metropolitan,4019,0
5,ID_5,Abbotsford,55a Park St,4,h,1600000,VB,Nelson,04-06-2016,2.5,...,2.0,120,142.0,2014.0,Yarra,-37.80720,144.99410,Northern Metropolitan,4019,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
13576,ID_13576,Wheelers Hill,12 Strada Cr,4,h,1245000,S,Barry,26-08-2017,16.7,...,2.0,652,NaN,1981.0,NaN,-37.90562,145.16761,South-Eastern Metropolitan,7392,302
13577,ID_13577,Williamstown,77 Merrett Dr,3,h,1031000,SP,Williams,26-08-2017,6.8,...,2.0,333,133.0,1995.0,NaN,-37.85927,144.87904,Western Metropolitan,6380,305
13578,ID_13578,Williamstown,83 Power St,3,h,1170000,S,Raine,26-08-2017,6.8,...,4.0,436,NaN,1997.0,NaN,-37.85274,144.88738,Western Metropolitan,6380,305
13579,ID_13579,Williamstown,96 Verdon St,4,h,2500000,PI,Sweeney,26-08-2017,6.8,...,5.0,866,157.0,1920.0,NaN,-37.85908,144.89299,Western Metropolitan,6380,305
13580,ID_13580,Yarraville,6 Agnes St,4,h,1285000,SP,Village,26-08-2017,6.3,...,1.0,362,112.0,1920.0,NaN,-37.81188,144.88449,Western Metropolitan,6543,313

In [154]:
# Encoding for 'Regionname' column:

updated_index = list(range(1, len(data.index) + 1))  # cause we updated the index of 'data' dataframe in the first place

onehotencoder = OneHotEncoder(sparse = False, handle_unknown = "error", drop = "first")
ohe_df = pd.DataFrame(onehotencoder.fit_transform(data[['Regionname']]), index = updated_index)
ohe_df # 7 colunms instead of 8 cause the one which is dropped is represented by all zero values.

         0    1    2    3    4    5    6
1      0.0  1.0  0.0  0.0  0.0  0.0  0.0
2      0.0  1.0  0.0  0.0  0.0  0.0  0.0
3      0.0  1.0  0.0  0.0  0.0  0.0  0.0
4      0.0  1.0  0.0  0.0  0.0  0.0  0.0
5      0.0  1.0  0.0  0.0  0.0  0.0  0.0
...    ...  ...  ...  ...  ...  ...  ...
13576  0.0  0.0  0.0  1.0  0.0  0.0  0.0
13577  0.0  0.0  0.0  0.0  0.0  1.0  0.0
13578  0.0  0.0  0.0  0.0  0.0  1.0  0.0
13579  0.0  0.0  0.0  0.0  0.0  1.0  0.0
13580  0.0  0.0  0.0  0.0  0.0  1.0  0.0

[13580 rows x 7 columns]

In [155]:
data = data.join(ohe_df)

# ---- data.drop(['Regioname'], inplace = True, axis = 1) ---- if you wanna get rid of categorical data.

data

,Unique ID,Suburb,Address,Rooms,Type,Price,Method,SellerG,Date,Distance,...,Regionname,Propertycount,Suburb_N,0,1,2,3,4,5,6
New Index,,,,,,,,,,,,,,,,,,,,,
1,ID_1,Abbotsford,85 Turner St,2,h,1480000,S,Biggin,03-12-2016,2.5,...,Northern Metropolitan,4019,0,0.0,1.0,0.0,0.0,0.0,0.0,0.0
2,ID_2,Abbotsford,25 Bloomburg St,2,h,1035000,S,Biggin,04-02-2016,2.5,...,Northern Metropolitan,4019,0,0.0,1.0,0.0,0.0,0.0,0.0,0.0
3,ID_3,Abbotsford,5 Charles St,3,h,1465000,SP,Biggin,04-03-2017,2.5,...,Northern Metropolitan,4019,0,0.0,1.0,0.0,0.0,0.0,0.0,0.0
4,ID_4,Abbotsford,40 Federation La,3,h,850000,PI,Biggin,04-03-2017,2.5,...,Northern Metropolitan,4019,0,0.0,1.0,0.0,0.0,0.0,0.0,0.0
5,ID_5,Abbotsford,55a Park St,4,h,1600000,VB,Nelson,04-06-2016,2.5,...,Northern Metropolitan,4019,0,0.0,1.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
13576,ID_13576,Wheelers Hill,12 Strada Cr,4,h,1245000,S,Barry,26-08-2017,16.7,...,South-Eastern Metropolitan,7392,302,0.0,0.0,0.0,1.0,0.0,0.0,0.0
13577,ID_13577,Williamstown,77 Merrett Dr,3,h,1031000,SP,Williams,26-08-2017,6.8,...,Western Metropolitan,6380,305,0.0,0.0,0.0,0.0,0.0,1.0,0.0
13578,ID_13578,Williamstown,83 Power St,3,h,1170000,S,Raine,26-08-2017,6.8,...,Western Metropolitan,6380,305,0.0,0.0,0.0,0.0,0.0,1.0,0.0
13579,ID_13579,Williamstown,96 Verdon St,4,h,2500000,PI,Sweeney,26-08-2017,6.8,...,Western Metropolitan,6380,305,0.0,0.0,0.0,0.0,0.0,1.0,0.0
13580,ID_13580,Yarraville,6 Agnes St,4,h,1285000,SP,Village,26-08-2017,6.3,...,Western Metropolitan,6543,313,0.0,0.0,0.0,0.0,0.0,1.0,0.0

### 5) Dealing with NaN Values:

In [156]:
data.dropna(how = 'all', axis = 0, inplace = True) # drop that row which is all NaN and hence useless
data.dropna(how = 'all', axis = 1, inplace = True) # drop that column which is all NaN and hence useless

print(data.isnull().sum())  # True is 1 and False is 0, so the sum() will give the number of NaN values in each column.
# so there are 62 NaN values in 'Car' column

data

Unique ID           0
Suburb              0
Address             0
Rooms               0
Type                0
Price               0
Method              0
SellerG             0
Date                0
Distance            0
Postcode            0
Bedroom2            0
Bathroom            0
Car                62
Landsize            0
BuildingArea     6450
YearBuilt        5375
CouncilArea      1369
Lattitude           0
Longtitude          0
Regionname          0
Propertycount       0
Suburb_N            0
0                   0
1                   0
2                   0
3                   0
4                   0
5                   0
6                   0
dtype: int64

,Unique ID,Suburb,Address,Rooms,Type,Price,Method,SellerG,Date,Distance,...,Regionname,Propertycount,Suburb_N,0,1,2,3,4,5,6
New Index,,,,,,,,,,,,,,,,,,,,,
1,ID_1,Abbotsford,85 Turner St,2,h,1480000,S,Biggin,03-12-2016,2.5,...,Northern Metropolitan,4019,0,0.0,1.0,0.0,0.0,0.0,0.0,0.0
2,ID_2,Abbotsford,25 Bloomburg St,2,h,1035000,S,Biggin,04-02-2016,2.5,...,Northern Metropolitan,4019,0,0.0,1.0,0.0,0.0,0.0,0.0,0.0
3,ID_3,Abbotsford,5 Charles St,3,h,1465000,SP,Biggin,04-03-2017,2.5,...,Northern Metropolitan,4019,0,0.0,1.0,0.0,0.0,0.0,0.0,0.0
4,ID_4,Abbotsford,40 Federation La,3,h,850000,PI,Biggin,04-03-2017,2.5,...,Northern Metropolitan,4019,0,0.0,1.0,0.0,0.0,0.0,0.0,0.0
5,ID_5,Abbotsford,55a Park St,4,h,1600000,VB,Nelson,04-06-2016,2.5,...,Northern Metropolitan,4019,0,0.0,1.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
13576,ID_13576,Wheelers Hill,12 Strada Cr,4,h,1245000,S,Barry,26-08-2017,16.7,...,South-Eastern Metropolitan,7392,302,0.0,0.0,0.0,1.0,0.0,0.0,0.0
13577,ID_13577,Williamstown,77 Merrett Dr,3,h,1031000,SP,Williams,26-08-2017,6.8,...,Western Metropolitan,6380,305,0.0,0.0,0.0,0.0,0.0,1.0,0.0
13578,ID_13578,Williamstown,83 Power St,3,h,1170000,S,Raine,26-08-2017,6.8,...,Western Metropolitan,6380,305,0.0,0.0,0.0,0.0,0.0,1.0,0.0
13579,ID_13579,Williamstown,96 Verdon St,4,h,2500000,PI,Sweeney,26-08-2017,6.8,...,Western Metropolitan,6380,305,0.0,0.0,0.0,0.0,0.0,1.0,0.0
13580,ID_13580,Yarraville,6 Agnes St,4,h,1285000,SP,Village,26-08-2017,6.3,...,Western Metropolitan,6543,313,0.0,0.0,0.0,0.0,0.0,1.0,0.0

In [157]:
# CouncilArea is categorical data so we cannot interpolate it, rest we can. 

data['Car'] = data['Car'].interpolate()
data['BuildingArea'] = data['BuildingArea'].interpolate()  # apparantly it won't interpolate the first row
data['YearBuilt'] = data['YearBuilt'].interpolate()   # apparantly it won't interpolate the first row
data.dropna(subset=['CouncilArea'], how = 'any', axis = 0, inplace = True) # dropped all the rows where CouncilArea is NaN.

print(data.isnull().sum())
data

Unique ID        0
Suburb           0
Address          0
Rooms            0
Type             0
Price            0
Method           0
SellerG          0
Date             0
Distance         0
Postcode         0
Bedroom2         0
Bathroom         0
Car              0
Landsize         0
BuildingArea     1
YearBuilt        1
CouncilArea      0
Lattitude        0
Longtitude       0
Regionname       0
Propertycount    0
Suburb_N         0
0                0
1                0
2                0
3                0
4                0
5                0
6                0
dtype: int64

,Unique ID,Suburb,Address,Rooms,Type,Price,Method,SellerG,Date,Distance,...,Regionname,Propertycount,Suburb_N,0,1,2,3,4,5,6
New Index,,,,,,,,,,,,,,,,,,,,,
1,ID_1,Abbotsford,85 Turner St,2,h,1480000,S,Biggin,03-12-2016,2.5,...,Northern Metropolitan,4019,0,0.0,1.0,0.0,0.0,0.0,0.0,0.0
2,ID_2,Abbotsford,25 Bloomburg St,2,h,1035000,S,Biggin,04-02-2016,2.5,...,Northern Metropolitan,4019,0,0.0,1.0,0.0,0.0,0.0,0.0,0.0
3,ID_3,Abbotsford,5 Charles St,3,h,1465000,SP,Biggin,04-03-2017,2.5,...,Northern Metropolitan,4019,0,0.0,1.0,0.0,0.0,0.0,0.0,0.0
4,ID_4,Abbotsford,40 Federation La,3,h,850000,PI,Biggin,04-03-2017,2.5,...,Northern Metropolitan,4019,0,0.0,1.0,0.0,0.0,0.0,0.0,0.0
5,ID_5,Abbotsford,55a Park St,4,h,1600000,VB,Nelson,04-06-2016,2.5,...,Northern Metropolitan,4019,0,0.0,1.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
12209,ID_12209,Williamstown,87 Pasco St,3,h,1285000,S,Jas,29-07-2017,6.8,...,Western Metropolitan,6380,305,0.0,0.0,0.0,0.0,0.0,1.0,0.0
12210,ID_12210,Windsor,201/152 Peel St,2,u,560000,PI,hockingstuart,29-07-2017,4.6,...,Southern Metropolitan,4380,307,0.0,0.0,0.0,0.0,1.0,0.0,0.0
12211,ID_12211,Wollert,60 Saltlake Bvd,3,h,525300,S,Stockdale,29-07-2017,25.5,...,Northern Metropolitan,2940,308,0.0,1.0,0.0,0.0,0.0,0.0,0.0
12212,ID_12212,Yarraville,2 Adeney St,2,h,750000,SP,hockingstuart,29-07-2017,6.3,...,Western Metropolitan,6543,313,0.0,0.0,0.0,0.0,0.0,1.0,0.0
12213,ID_12213,Yarraville,54 Pentland Pde,6,h,2450000,VB,Village,29-07-2017,6.3,...,Western Metropolitan,6543,313,0.0,0.0,0.0,0.0,0.0,1.0,0.0

### 6) Statistics:

In [158]:
data.Rooms.mean()

2.894193759724838

In [159]:
data.Rooms.median()

3.0

In [160]:
data.Rooms.mode()

0    3
dtype: int64

In [161]:
data.Rooms.var()

0.920335654182186

In [162]:
data.Price.mean()

1063691.8719187619

In [163]:
data.Price.median()

895000.0

In [164]:
data.Price.mode()

0    1100000
dtype: int64

In [165]:
import math
math.sqrt(data.Price.var())  # standard deviation of prices

638861.3346514603

In [166]:
data.loc[data['Price'] == 1100000,'Price'].value_counts()  # so there are 103 houses with a price of 1100000 and 
# is the most common one.

1100000    103
Name: Price, dtype: int64